body {
    background-color: rgb(223, 223, 223);
}

#container {
    width: 400px;
    height: 332px;
    position: relative;
    border: 3px solid black;
    overflow: hidden;
}

#container input[type="radio"] {
    position: relative;
    top: 307px;
    margin-right: 5px;
}

#container img{
    position: absolute;
    height: 300px;
    top: 0;
    margin: auto;
    display: block;
    opacity: 0;
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

#container input[type="radio"]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
}
#container input[type="radio"]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
}
#container input[type="radio"]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}
#container input[type="radio"]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
}